html {
	color: #000;
	text-align: center;
}

body {
	 font-family: "Helvetica";
	 font-size: 2em;
	/* background-color: #4790f0; */
	color: #FFF
}

h2 {
	 font-family: "Helvetica";
	 text-align: center;
}

#timeStamp {
	font-family: "Helvetica";
	font-size: 3em;
	font-weight: bold;
}

.title {
	font-family: "Helvetica";
	font-size: 30px;
	text-align: center;
}