body {
	 background-color: #d6d6d6;
	 text-align: center;
}

.mdFont {
	font-family: "Helvetica";
	font-size: 2em;
	color: #FFF;
}

#changeLocationBtn {
	font-family: "Helvetica";
	font-size: 0.0em;
	float: right;
	margin:2px auto; /* Override button class */	
}

#timeStamp {
	font-family: "Helvetica";
	font-size: 2.5em;
	font-weight: bold;
}

#positionFooter {
	text-align: right;
	font-size: 0.5em;
}

.title {
	padding-bottom: 0em;
	font-family: "Helvetica";
	font-size: 40px;
}

.subtitle {
	padding-top: 0px;
	font-family: "HelveticaNeue";
	font-size: 15px;
}